
h1 {
    color: darkgray;
    }
img {
    width: 400px;
    }
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: darkgrey;
    padding: 50px;
    border: blanchedalmond 5px;
    }
#spanId {
    size: 18px;
    }

